@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}

section.implements{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search{
    background-color:white;
    position:sticky;
    top:0px;
}

.search img{
    height: 18px;
}

.search input{
    width: 210px;
    height: 20px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid black;
    outline: unset;
}

.search ::placeholder{
    background-image: url(../../images/Geral/Path.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px;
}

h3{ 
    text-align: center;
    font-weight: medium;
    font-size: 14px;
}

.pagination{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    background-color: white;
    position: sticky;
    bottom: 0px;
    margin: 2px;
    align-content: center;
    box-shadow: 2px 0px 9px 5px rgb(255 255 255);
}

.active{
       color: Black;
       font-family: "Rubik", sans-serif;
       text-align: center;
       font-weight: medium;
       font-size: 10px;
       text-decoration: none;
       background-color: white;
       cursor: pointer;
       border-style: groove;
       border-color: rgba(0, 118, 199, 1);
       border-width: thin;
       border-radius: 4px;
       height: 16px;
       padding: 1px 1px 1.5px 1px;
}

.paginacao{
        color: Black;
        font-family: "Rubik", sans-serif;
        text-align: center;
        font-weight: medium;
        font-size: 10px;
        text-decoration: none;
        background-color: white;
        cursor: pointer;
}

.tabelaForm{
    display: flex;
    width: 100%;
    align-content: flex-start;
    justify-content: center;
}

.listaForm {
    display: flex;
    padding: 1rem;
    margin: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 4px;
    height: 4rem;
    /* text-align: left; */
    font-size: 14px;
    border-style: groove;
    border-color: rgba(0, 118, 199, 1);
    border-width: thin;
    text-align: center;
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editButton{
    background-color:Transparent;
    background-image: url(../../images/Geral/edit.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px;
    width: 15px;
    height: 15px;
    border: none;
    padding: 0;
}

.buttomCriar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 1rem 1px 1rem;
    border-radius: 4px;
    height: 4rem;
    width: 300px;
    font-size: 14px;
    border-style: groove;
    border-color: rgba(0, 118, 199, 1);
    border-width: thin;
    text-align: center;

.btnAdicionar{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 118, 199, 1);
    border-radius: 360px;
    color: white;
    border: none;
    width: 57px;
    height: 25px;
    cursor: pointer;
    margin-left: 5px;
}

.inptForm{
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgba(0, 118, 199, 1);
    padding-left: 5px;
}

.linkCriar{
    color: Black;
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-weight: medium;
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    border: none;
    width: 285px;
    height: 60px;
    cursor: pointer;
}

.tableBody{
    display: flex;
    width: 100%;
    flex-direction: column;
}


form{
    display: none;
}

.expandir {
    display: block;
}

.filtro{
    height: 15px;
    width:80px;
    font-size: 9px;
    margin-left: 5px;
}

