.alternativasPerguntas {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.alternativaPergunta{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 200px;
    max-width: 350px;
}
.listarPerguntas{
    width: 90%;
}
.listaPergunta {
    margin-bottom: 10px;
    border-radius: .5rem;
    border: 1px solid #818181;
    padding: 10px;
}

.tituloPergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .75rem;
}

.tituloPergunta a {
    text-decoration: none;
    color: #818181;
    display: flex;
    align-items: center;
    width: 100%;
}

.tituloPergunta strong {
    flex: 1;
    text-align: center;
}

.tituloPergunta i {
    padding: 0 10px 0 10px;
}

.radio-item {
    display: inline-block;
    margin-right: 10px;
}

.radio-item input[type="radio"] {
    display: none;
}

.radio-item{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px; /* Borda arredondada */
    text-align: center;
    line-height: 18px; /* Centraliza o texto verticalmente */
    cursor: pointer;
}

.radio-item {
    display: flex;
    align-items: center; /* Alinha verticalmente o rádio button e o texto */
    margin-bottom: 10px; /* Espaço entre os itens, caso haja vários */
}
.radio-item input[type="radio"] {
    margin-left: 10px; /* Espaço entre o rádio button e o texto */
}

.documentoPergunta a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .35rem;
    text-decoration: none;
}

i.fa-solid.fa-upload{
    font-size: 25px;
    color: #8d9cec;
    border: 1px solid #818181;
    padding: 1rem;
    border-radius: 5px;
}

span#nomeDocumento{
    border: 1px solid #818181;
    padding: .35rem;
    width: 80%;
    font-size: 14px;
    text-align: center;
    color: #818181;
    border-radius: 20px;

}

