
.header {
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
h3{
    text-align: center;
    text-decoration: underline;
}
hr{
    stroke: rgb(0, 119, 200);
    background-color: rgb(0, 119, 200);
}
.pergunta{
    border-style:groove;
    border-radius: 4px;
    .pTitulo{
        text-align: center;
        margin-top: -15px;
    }
}
.tablePergunta{
    p{
        text-align: left;
    }
    td{
        padding-left: 10px;
    }
}
.pRemover{
   img{
    display: block;
    margin-left: auto;
    padding-right: 5px;
    padding-bottom: 5px;
   } 
}

