@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}

section.topSide{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.topSide img{
    height: 70px;
    width: 80px;
    padding: 10px;
}

section.implements{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search{
    display: flex;
}

.search img{
    height: 18px;
}

.search input{
    display: flex;
    width: 235px;
    height: 20px;
    margin: 40px 20px 0px 15px;
    border: none;
    border-bottom: 2px solid black;
}

.search ::placeholder{
    background-image: url(../../images/Geral/Path.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px;
}

h3{
    text-align: center;
    font-weight: medium;
    font-size: 14px;
}



.tabelaForm{
    display: flex;
    width: 100%;
    align-content: flex-start;
    justify-content: center;
}

.listaForm {
    display: flex;
    padding: 1rem;
    margin: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 4px;
    height: 4rem;
    /* text-align: left; */
    font-size: 14px;
    border-style: groove;
    border-color: rgba(0, 118, 199, 1);
    border-width: thin;
    text-align: center;
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttomCriar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 1rem 1px 1rem;
    border-radius: 4px;
    height: 4rem;
    width: 300px;
    font-size: 14px;
    border-style: groove;
    border-color: rgba(0, 118, 199, 1);
    border-width: thin;
    text-align: center;
    .btnAdicionar{
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        background-color: rgba(0, 118, 199, 1);
        border-radius: 360px;
        color: white;
        border: none;
        width: 57px;
        height: 25px;
        cursor: pointer;
        margin-left: 5px;
    }
    .inptForm{
        width: 200px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-color: rgba(0, 118, 199, 1);
        padding-left: 5px;
    }
}

.linkCriar{
    color: Black;
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-weight: medium;
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

.btnAdicionarUser{
    width: 285px;
    height: 60px;
    background-color: white;
    border: none;
}

.tableBody{
    display: flex;
    width: 100%;
    flex-direction: column;
}


.button{
    background-color:Transparent;
    background-image: url(../../images/Geral/edit.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px;
    width: 15px;
    height: 15px;
    border: none;
    padding: 0;
}

form{
    display: none;
}

.expandir {
    display: block;
}