<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Detalhes de [EMPRESA]</title>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/styleCriarMais.css" th:href="@{/styles/styleCriarMais.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <header class="header">
        <img src="/static/images/logo.png" th:src="@{/images/logo.png}" width="80">
    </header>
    <div>
        <h3 th:action="@{/detalhesDeFormulario}" th:text="${titulo}" method="get" class="exibirCriarMais"></h3>
    </div>
    <hr class="linha">
    <!-- LISTAGEM DE PREGUNTAS -->
    <div th:each="pergunta : ${perguntas}" class="pergunta">
        <div class="folded">
            <div class="seta">
                <label class="container">
                    <input checked="checked" data-target="#colapso" data-toggle="collapse" type="checkbox">
                    <svg class="chevron-down" height="1em" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path>
                    </svg>
                </label>
            </div>
            <div class="pTitulo">
                <p th:text="${pergunta.titulo}"></p>
            </div>
        </div>
        <div class="collapse" id="colapso">
            <table class="tablePergunta">
                <tr>
                    <td>
                        <p>Envio recorrente de documento</p>
                    </td>
                    <td>
                        <label class="checkbox-container">
                            <input checked="" class="custom-checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Alternativas</p>
                    </td>
                    <td>
                        <label class="checkbox-container">
                            <input checked="" class="custom-checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
            </table>
            <div class="pRemover"><a th:href="@{${idFormulario}+'/pergunta/'+ ${pergunta.id_pergunta} + '/atualizar-ativo}'}">
                <img alt="" src="/static/images/X.png" th:src="@{/images/X.png}" width="40"></a>
            </div>
        </div>
    </div>
    <footer>
        <button class="btnExcluirForm" data-target="#exampleModalCente" data-toggle="modal">Excluir formulário</button>
        <hr>
        <button class="btnCancelar"><strong>Cancelar</strong></button>
        <button class="btnSalvar"><strong>Salvar</strong></button>
    </footer>
    <!-- PopUp -->
    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCente" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p><b>Tem certeza que deseja excluir o formulário [EMPRESA]</b></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Não</button>
                    <button class="btn btn-primary" type="button">Sim</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>