<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes de [EMPRESA]</title>
    <link rel="stylesheet" href="/src/main/resources/templates/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <header class="header">
            <img src="/src/main/resources/templates/logo.jpeg" width="80">
        </header>
        <h3>[EMPRESA]</h3>
        <hr class="linha">
        <!-- LISTAGEM DE PREGUNTAS -->
        <div class="pergunta">
            <div class="folded">
                <div class="seta">
                    <label class="container">
                        <input checked="checked" type="checkbox" data-toggle="collapse" data-target="#colapso">
                          <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="chevron-down"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path></svg>
                    </label>
                </div>
                <div class="pTitulo">
                    <p>Pergunta Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
                </div>
            </div>
            <div id="colapso" class="collapse">
                <table class="tablePergunta">
                    <tr>
                        <td>
                            <p>Envio recorrente de documento</p>
                        </td>
                        <td>
                            <label class="checkbox-container">
                                <input class="custom-checkbox" checked="" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Alternativas</p>
                        </td>
                        <td>
                            <label class="checkbox-container">
                                <input class="custom-checkbox" checked="" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                </table>
                <div class="pRemover"><a href="">
                        <img src="/src/main/resources/templates/X.png" alt="" width="40"></a>
                </div>
            </div>
        </div>
        <footer>
            <button class="btnExcluirForm" data-toggle="modal" data-target="#exampleModalCente">Excluir formulário</button>
            <hr>
            <button class="btnCancelar"><strong>Cancelar</strong></button>
            <button class="btnSalvar"><strong>Salvar</strong></button>
        </footer>
        <!-- PopUp -->
        <div class="modal fade" id="exampleModalCente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p><b>Tem certeza que deseja excluir o formulário [EMPRESA]</b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary">Sim</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>

</html>