<!DOCTYPE html>
<html lang="pt-bt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo_transparente.png" />
    <title>SAGA - Editar Formulario</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css"  />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/style_detalhes_formulario.css">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/style_criar_pergunta.css">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/toggle_ativar_desativar.css">
    <script src="/scripts/btn_ativar_desativar.js" defer></script>
</head>
<body>
<header class="top_side">
    <img class="logo" src="/images/logo_transparente.png" alt="logo_empresa"/>
</header>
<main>
    <form th:action="@{/detalhes_formulario}" th:object="${formulario}"  class="editar_formulario" method="post">
        <div class="formulario_topo">
            <label >editavel</label>
            <input
                  type="text"
                  th:value="*{titulo}"
                  th:field="*{titulo}"
                  class="inputTitulo"
                  required>
        </div>
        <div class="linha_header"> </div>
        <input
              type="hidden"
              th:name="idFormulario"
              th:value="*{id_formulario}">
        <input
              type="hidden"
              th:field="*{base}">
        <input
              id="estadoInput"
              required
              th:field="*{estado}"
              type="hidden">
        <div class="footer">
            <button
                    type="button"
                    id="ativo_inativo"
                    th:class="${formulario.estado?'inativo' : 'ativo'}"
                    th:text="${formulario.estado?'Inativo' : 'Ativo'}">
            </button>
            <div class="linha_footer"> </div>
            <div class="botoes_footer">
                <button th:type="button" class="btnCancelar"><strong>Cancelar</strong></button>
                <button th:type="submit" class="btnSalvar"><strong>Confirmar</strong></button>
            </div>
        </div>
    </form>
    <form th:action="@{/detalhes_formulario/criar_pergunta}" th:object="${pergunta}" class="criar_pergunta" method="post">
        <input
              required
              type="hidden"
              name="idFormulario"
              th:value="${idFormulario}">
        <input
              required
              type="hidden"
              th:field="*{estado}"
              th:value="${estado eq false ? 'false' : 'true'}">
        <input
              required
              th:field="*{documento}"
              type="hidden">
        <input
              type="text"
              th:field="*{titulo}"
              placeholder="Digite aqui sua nova pergunta"
              class="inputPergunta"
              required>
        <div id="pergunta_salvar_sair">
            <a href="#" class="botao_x">x</a>
            <button th:type="submit" class="salvar_pergunta"> Salvar</button>
        </div>
    </form>
</main>
</body>
</html>