<!DOCTYPE html>
<html lang="pt-bt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo_transparente.png" />
    <title>SAGA - Editar Formulario</title>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css"  />
</head>
<script src="/scripts/btn_ativar_desativar.js" defer></script>
<body>
<header class="top_side">
    <img class="logo" src="/images/logo-transparente.png" alt="logo_empresa"/>
</header>
<main>
    <form th:action="@{/detalhes_formulario}" th:object="${formulario}" method="post">
        <input
                th:field="*{titulo}">
        <div>
            <hr class="linha_azul">
        </div>
        <section th:insert="/criar_pergunta" id="criar_pergunta" class="card_pergunta"></section>
        <input
                th:name="idFormulario"
                th:value="*{id_formulario}">
        <input
                th:field="*{base}">
        <input
                id="estadoInput"
                required
                th:field="*{estado}"
                type="hidden">
        <button
                type="button"
                id="ativo_inativo"
                th:class="${formulario.estado?'inativo' : 'ativo'}"
                th:text="${formulario.estado?'Inativo' : 'Ativo'}">
        </button>
        <hr>
        <button th:type="button" class="btnCancelar"><strong>Cancelar</strong></button>
        <button th:type="submit" class="btnSalvar"><strong>Salvar</strong></button>
    </form>
</main>
</body>
</html>