<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo-transparente.png"/>
    <title>SAGA - Editar Empresa</title>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css"  />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/style_empresa.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/ativar_desativar_empresa.css"/>
    <script src="/scripts/statusEmpresa.js" defer></script>

    <script src="/scripts/nova_empresa.js" defer></script>
    <script src="/scripts/popup_confirmacao.js" defer></script>
</head>
<body>
<section th:if="${condition}" th:insert="/pop_up/popup_confirmacao.html"></section>
<section th:insert="/pop_up/popup_cancelar.html" id="fragmento_popup_cancelar"></section>
<header class="top_side">
    <img class="logo" src="/images/logo.jpeg" alt="logo_empresa"/>
</header>
<main>
    <form id="formulario" th:action="@{/editarEmpresa}" th:object="${empresa}" method="post" class="editar_empresa">
        <!--Esse aqui guarda o id pra mandar para o banco de dados trocar os dados -->
        <input type="hidden" th:field="*{id_empresa}" />
        <ul>
            <li>
                <label class="titulo_input">Nome Fantasia</label>
                <input
                        type="text"
                        th:field="*{fantasia}"
                        placeholder="Nome Fantasia"
                        maxlength="45"
                        required
                />
            </li>
            <li>
                <label class="titulo_input">Razão Social</label>
                <input
                        type="text"
                        th:field="*{razao_social}"
                        placeholder="Razão Social"
                        required
                        maxlength="45"
                />
            </li>
            <li>
                <label class="titulo_input">CNPJ</label>
                <input
                        type="text"
                        th:field="*{cnpj}"
                        placeholder="Ex: 99.999.999/0001-99"
                        required
                        maxlength="18"
                />
            </li>
            <li>
                <label class="titulo_input">E-mail</label>
                <input
                        type="email"
                        th:field="*{email}"
                        placeholder="saga@grupo2biopark.com.br"
                        required
                        maxlength="45"
                />
            </li>
            <li>
                <label class="titulo_input">Endereço</label>
                <input
                        type="text"
                        th:field="*{endereco}"
                        placeholder="Endereço"
                        required
                        maxlength="100"
                />
            </li>
            <li>
                <label class="titulo_input">Telefone</label>
                <input
                        type="text"
                        th:field="*{telefone}"
                        placeholder="Ex: (45) 9 9999-9999"
                        required
                        maxlength="20"
                />
            </li>
            <li>
                <label class="titulo_input" for="porte">Porte</label>
                <select id="porte" th:field="*{porte}" required>
                    <option value="pequeno">Pequeno</option>
                    <option value="medio">Médio</option>
                    <option value="grande">Grande</option>
                </select>
            </li>
            <li>
                <label class="titulo_input" for="atividade">Atividade</label>
                <select id="atividade" th:field="*{atividade}" required>
                    <option value="industrial">Industrial</option>
                    <option value="ambiental">Ambiental</option>
                    <option value="social">Social</option>
                </select>
            </li>
            <li class = "estado">
                <input  id="estadoInput"
                        required
                        type="hidden"
                        th:field="*{estado}">
                <button id="ativo_inativo"
                        type="button"
                        th:class="${empresa.estado? 'ativo':'inativo'}"
                        th:text="${empresa.estado? 'Ativo':'Inativo'}"></button>
            </li>

        </ul>
        <section class="bot_side">
            <div class="btn">
                <button id="cancel_form" type="button" class="btn_cancelar">Cancelar</button>
                <button id="confirm_form" type="submit" class="btn_confirma">Confirmar</button>
            </div>
        </section>
    </form>
</main>
</body>