<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/Geral/logo_transparente.png" />
  <title>SAGA - Responder Formulario</title>
  <link rel="stylesheet" type="text/css" href="/styles/GeralCSS/reset.css">
  <link rel="stylesheet" type="text/css" media="all" href="/styles/FormularioBaseCSS/styleExecutarFomulario.css">
  <link rel="stylesheet" type="text/css" media="all" href="/styles/FormularioBaseCSS/styleCadastrarResposta.css">
  <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="/scripts/formulariosJS/executarFormulario.js" defer></script>
</head>
<body>
<section th:if="${condition}" th:insert="/pop_up/popupVerCertificado.html"></section>
<section th:insert="/pop_up/popup_cancelar.html" id="fragmento_popup_cancelar"></section>
<header class="topSide">
  <img class="logo" src="/images/Geral/logo_transparente.png" alt="logo_empresa"/>
</header>
<main>
  <form th:action="@{/executarFormulario}" th:object="${respostaDTO}" class="editar_formulario" method="post" enctype="multipart/form-data">
    <div class="formulario_topo">
      <input
              type="text"
              th:value="${tituloFormulario}"
              class="inputTitulo"
              required>
    </div>
    <div class="linha_header"> </div>
    <input
            type="hidden"
            th:field="*{id_formulario}">
    <input
            type="hidden"
            id="idEmpresa"
            th:field="*{id_empresa}">
    <input
            type="hidden"
            id="idCertificado"
            th:field="*{id_certificado}">
    <input
            type="hidden"
            th:value="${baseFormulario}">
    <input
            id="estadoInput"
            type="hidden"
            th:value="${estadoFormulario}"
            required>
    <div class="footer">
      <div class="linha_footer"> </div>
      <div class="botoes_footer">
        <button
                type="button"
                id="cancelarResposta"
                class="btnCancelar">
          <strong>Cancelar</strong>
        </button>
        <button
                class="btnSalvar"
                type="submit">
          Confirmar
        </button>
      </div>
    </div>
    <section class="listarPerguntas">
      <div th:each="pergunta, iterStat : ${perguntas}" class="listaPergunta">
        <input
                id="respostaFinal"
                th:field="*{respostas[__${idPergunta}__]}"
                value=""
                type="hidden">
        <input
                type="hidden"
                th:field="*{id_perguntas}"
                th:value="${idPergunta}">
        <div class="tituloPergunta">
          <a>
            <i class="fa-solid fa-chevron-down"></i>
            <h3 th:text="${pergunta.titulo}"></h3>
          </a>
        </div>
        <div class="perguntaContainer">
          <div class="alternativasPerguntas">
            <div class="checkbox-item">
              <label th:for="'conforme_' + ${idPergunta}">Conforme
                <input
                        type="checkbox"
                        th:id="'conforme_' + ${idPergunta}"
                        th:value="0"
                        th:name="respostas[__${idPergunta}__]"
                        class="alternativa-checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox-item">
              <label th:for="'nao-conforme_' + ${idPergunta}">Não Conforme
                <input
                        type="checkbox"
                        th:id="'nao-conforme_' + ${idPergunta}"
                        th:value="1"
                        th:name="respostas[__${idPergunta}__]"
                        class="alternativa-checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox-item">
              <label th:for="'nao-se-aplica_' + ${idPergunta}">Não se Aplica
                <input
                        type="checkbox"
                        th:id="'nao-se-aplica_' + ${idPergunta}"
                        th:value="2"
                        th:name="respostas[__${idPergunta}__]"
                        class="alternativa-checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="documentoPergunta">
            <a>
              <i class="fa-solid fa-upload"></i>
              <span class="nomeDocumento">Nenhum arquivo selecionado</span>
            </a>
            <input
                    type="file"
                    class="inputDocumento"
                    style="display: none;"
                    th:field="*{nomeDocumento}" multiple>
          </div>
        </div>
      </div>
    </section>
    <div class="background"></div>
  </form>
</main>
</body>
</html>
