<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/Geral/logo_transparente.png" />
  <title>SAGA - Responder Formulario</title>
  <link rel="stylesheet" type="text/css" href="/styles/GeralCSS/reset.css">
  <link rel="stylesheet" type="text/css" media="all" href="/styles/FormularioBaseCSS/styleExecutarFomulario.css">
  <link rel="stylesheet" type="text/css" media="all" href="/styles/FormularioBaseCSS/styleCadastrarResposta.css">
  <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="/scripts/formulariosJS/executarFormulario.js" defer></script>
</head>
<body>
<section th:if="${condition}" th:insert="/pop_up/popupVerCertificado.html"></section>
<section th:insert="/pop_up/popup_cancelar.html" id="fragmento_popup_cancelar"></section>
<header class="topSide">
  <img class="logo" src="/images/Geral/logo_transparente.png" alt="logo_empresa"/>
</header>
<main>
  <form th:action="@{/executarFormulario}" th:object="${resposta}" class="editar_formulario" method="post">
    <div class="formulario_topo">
      <input
              type="text"
              th:value="*{formulario.titulo}"
              th:field="*{formulario.titulo}"
              class="inputTitulo"
              required>
    </div>
    <div class="linha_header"> </div>
    <input
            type="hidden"
            th:name="idFormulario"
            th:field="*{formulario.id_formulario}">
    <input
            type="hidden"
            th:field="*{formulario.base}">
    <input
            id="estadoInput"
            th:field="*{formulario.estado}"
            type="hidden"
            required>
    <div class="footer">
      <div class="linha_footer"> </div>
      <div class="botoes_footer">
        <button
                type="button"
                id="cancelarResposta"
                class="btnCancelar">
          <strong>Cancelar</strong>
        </button>
        <button
                class="btnSalvar">
          <a th:href="@{/certificado/1}" style="text-decoration: none;color: green">Confirmar</a>
        </button>
      </div>
    </div>
    <section class="listarPerguntas">
      <div th:each="pergunta, iterStat : ${resposta.perguntas}" class="listaPergunta">
        <div class="tituloPergunta">
          <a>
            <i class="fa-solid fa-chevron-down"></i>
            <h3 th:text="${pergunta.titulo}"></h3>
            <input type="hidden" th:field="*{perguntas[__${iterStat.index}__].id_pergunta}">
          </a>
        </div>
        <div class="perguntaContainer">
          <div class="alternativasPerguntas">
            <div class="checkbox-item">
              <input
                      tid="respostaPergunta"
                      type="hidden"
                      th:field="*{resposta}"
                      required>
              <label th:for="'conforme' + ${pergunta.id_pergunta}">Conforme
                <input
                        type="checkbox"
                        th:id="'conforme' + ${pergunta.id_pergunta}"
                        name="alternativa"
                        class="alternativa-checkbox"
                        data-resposta="0">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox-item">
              <label th:for="'nao-conforme' + ${pergunta.id_pergunta}">Não Conforme
                <input
                        type="checkbox"
                        th:id="'nao-conforme' + ${pergunta.id_pergunta}"
                        name="alternativa"
                        class="alternativa-checkbox"
                        data-resposta="1">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox-item">
              <label th:for="'nao-se-aplica' + ${pergunta.id_pergunta}">Não se Aplica
                <input
                        type="checkbox"
                        th:id="'nao-se-aplica' + ${pergunta.id_pergunta}"
                        name="alternativa"
                        class="alternativa-checkbox"
                        data-resposta="2">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="documentoPergunta">
            <a>
              <i class="fa-solid fa-upload"></i>
              <span class="nomeDocumento">Nenhum arquivo selecionado</span>
            </a>
            <input
                    type="file"
                    class="inputDocumento"
                    style="display: none;"
                    th:field="*{nomeDocumento}">
          </div>
        </div>
      </div>
    </section>
    <div class="background"></div>
  </form>
</main>
</body>
</html>
