<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <title>SAGA - Editar Usuário</title>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/index.css"/>
</head>
<body>
    <a href="/index" class="logout">LogOut</a>
    <header class="top_side">
        <img src="/images/logo-transparente.png" alt="" class="logo">
    </header>
    <main>
        <a href="/lista_usuarios" class="botao">Usuários</a>
        <a href="/lista_empresas" class="botao">Empresas</a>
        <a href="/lista_forms_base" class="botao">Formulários Base</a>
        <a href="/index" class="botao">Avaliações</a>
    </main>
    </body>
</html>