<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/Geral/logo_transparente.png" >
    <title>SAGA - Lista de templates de formularios</title>
    <link rel="stylesheet" href="/styles/FormularioBaseCSS/listaFormsBase.css">
    <script src="/scripts/formulariosJS/buscaFormularioBase.js" ></script>
    <script src="/scripts/formulariosJS/botaoCriarMais.js" defer></script>
</head>

<body>
<header>
    <section class="topSide">
        <a href="http://localhost:8080/">
            <img class="logo" src="/images/Geral/logo_transparente.png" alt="logo_empresa"/>
        </a>
        <h3>Formulários</h3>
    </section>
</header>

<section class="implements">
    <div class="search">
        <input type="text" placeholder="Procurar..." id="searchInput">
    </div>
    <table class="tableForm">
        <thead>
        <tr class="buttomCriar">
            <td>
            <form action="/listaFormsBase" method="post" id="form">
                <input type="text" class="inptForm" th:name="titulo" placeholder="Digite o nome do formulário" required/>
                <input type="hidden" th:name="base" value="true"/>
                <input type="hidden" th:name="estado" value="true"/>
                <button type="submit" class="btnAdicionar">Salvar</button>
            </form>
            </td>
            <td>
                <button class="linkCriar" id="btnIniciar"><h3> Criar+ </h3></button>
            </td>
        </tr>
        </thead>
        <tbody class="tableBody" id="tableBody">
        <tr th:each="form : ${forms}" data-form="${form.titulo}" class="listaForm">
            <td>
                <div th:text="${form.titulo}" class="textoFormBase"></div>
            </td>
            <td>

                <div class="button-container">
<!--                    É só colocar o link aqui que ele já manda o id e o nome do formulário que vai ser editado-->
                    <a th:href="@{'detalhesFormulario/'+ ${form.id_formulario}}">
<!--                            http://localhost:8080/detalhesDeFormulario/[id]-->
                        <button onclick="handleButtonClick('${form.titulo}')" class="button"> </button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
