<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/Geral/logo_transparente.png" th:href="@{/images/logo-transparente.png}">
    <title>SAGA - Listar Avaliações</title>
    <link rel="stylesheet" href="styles/avaliacoes.css">
</head>
<body>
<header>
    <section class="topSide">
        <img src="/images/Geral/logo_transparente.png">
        <h3>Avaliações</h3>
    </section>
</header>

<section class="implements">
    <div class="search">
        <input type="text" placeholder="Procurar..." id="searchInput">
    </div>

    <table>
        <thead>
            <tr class="listaHead">
                <td class="dataH" >Data</td>
                <td class="empresaH" >Empresa</td>
                <td class="usuarioH">Usuário</td>
            </tr>
        </thead>
        <tbody >
            <tr th:each="certificado : ${avaliacoes}" class="listaForm">
                <td class="status" th:text="${certificado.base}"></td>
                <td class="data" th:text="${#dates.format(certificado.vencimento, 'dd/MM/yyyy')}"></td>
                <td class="empresa" th:text="${certificado.fantasia}"></td>
                <td class="usuario" th:text="${certificado.usuario}"></td>
                <input type = "hidden" th:value="${certificado.form}">
                <td>
                    <form th:action="@{/certificados/details/{id}(id=${certificado.form})}" method="get">
                        <button type="submit">Ver Detalhes</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="buttomCriar">
        <td>
            <a th:href="@{novoUsuario}" class="linkCriar">
                <h3> NOVO+ </h3>
            </a>
        </td>
    </div>

</section>
<script src="scripts/buscaFormularioBase.js" ></script>
</body>
</html>
