<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/Geral/logo_transparente.png" >
    <title>SAGA - Listar Empresas</title>
    <link rel="stylesheet" href="/styles/empresasCSS/listaEmpresas.css">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/principalCSS/styleMenuLateral.css">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/GeralCSS/headGeral.css"/>
    <script src="/scripts/empresasJS/buscaEmpresa.js" ></script>
    <script src="/scripts/sideBar/menuLateral.js" defer></script>
</head>
<body>
<header th:insert="/pop_up/header.html" class="topSide"></header>
<nav th:insert="/pop_up/menuLateral.html" id="fragmento_sidebar"></nav>
<section class="implements">
    <div class="search">
        <input type="text" placeholder="Procurar..." id="searchInput">
    </div>
    <table class="tableForm">
        <thead>
        <tr class="buttomCriar">
            <td>
                <button class="bntAdicionarEmpresa"><a th:href="@{/novaEmpresa}" class="linkCriar"> <h3> Criar+ </h3></a></button>
            </td>
        </tr>
        </thead>
        <tbody class="tableBody" id="tableBody">
        <tr th:each="empresa : ${empresas}" data-form="${empresa.fantasia}" class="listaForm">
            <td>
                <div th:text="${empresa.fantasia}" class="textoEmpresa"></div>
            </td>
            <td>
                <div class="button-container">
                    <a th:href="@{'/editarEmpresa/'+ ${empresa.id_empresa}}">
                        <button class="editButton"> </button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>
