<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.png"/>
    <title>SAGA - Login</title>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/GeralCSS/reset.css"
          th:href="@{/styles/GeralCSS/reset.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/LoginCSS/login.css"
          th:href="@{/styles/LoginCSS/login.css}"/>
</head>
<body>
<div class="topSide">
    <img class="logo" th:src="@{/images/Geral/logo_transparente.png}" alt="logo_empresa"/>
</div>
<main>
    <div class="box_center">
        <div class="box_input">
            <form id="formulario" th:action="@{/login}" method="post" class="login" th:object="${usuario}">
                <ul>
                    <li>
                        <h3 class="loginText">Login</h3>
                    </li>
                    <ul>
                        <li>
                            <label class="conteudoInput">E-mail</label>
                            <input
                                    name="email"
                                    type="email"
                                    th:field="*{email}"
                                    placeholder="saga@grupo2biopark.com.br"
                                    maxlength="45"
                                    required
                            />
                        </li>
                        <li>
                            <label class="conteudoInput">Senha</label>
                            <input
                                    name="senha"
                                    id="senha"
                                    type="password"
                                    th:field="*{senha}"
                                    placeholder="Senha"
                                    maxlength="45"
                                    required
                            />
                        </li>
                        <li>
                            <a href="/templates/recuperaSenha.html" class="esqueceuSenha">Esqueceu a senha? </a>
                        </li>
                    </ul>
                    <section class="botSide">
                        <div class="btn">
                            <button id="confirm_form" type="submit" class="btn_confirma">Confirmar</button>
                        </div>
                    </section>
                    <div th:if="${error}" class="error">
                        <p th:text="${error}"></p>
                    </div>
                </ul>
            </form>
        </div>
    </div>
</main>
</body>
</html>
