<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/main/resources/templates/style/style.css">
  <script src="javascript.js"></script>
</head>
<body>
  <header class="top-side">
    <section class="logo-empresa">
      <img src="/src/main/resources/templates/img/logo.jpeg" alt="">
    </section>
  </header>
  <main class="mid-side">
    <form action="" class="cadastrar-usuario">
        <ul>
          <li>
            <h3 class="titulo-input">git Nome Fantasia</h3> 
            <input type="text" name="" id="">
          </li>
          <li>
            <h3 class="titulo-input">Razão Social</h3>
            <input type="text" name="" id="">
          </li>
          <li>
            <h3 class="titulo-input">CNPJ</h3>
            <input type="text" name="" id="">
          </li>
          <li>
            <h3 class="titulo-input">Porte</h3>
            <select name="" id="">
              <input type="text" name="" id="">
            </select> 
          </li>
          <li>
            <h3 class="titulo-input">Atividades</h3>
            <select name="" id="">
              <input type="text" name="" id="">
            </select> 
          </li>
          <li>
            <h3 class="titulo-input">E-mail</h3>
            <input type="text" name="" id="">
          </li>
          <li>
            <h3 class="titulo-input">Senha</h3>
            <input type="text" name="" id="">
          </li>
          <li>
            <h3 class="titulo-input">Comfirmar Senha</h3>
            <input type="text" name="" id="">
          </li>
        </ul>
    </form>
    <section class="bot-side">
      <div class="btn">
        <button>Cancelar</button>
        <button>Confirmar</button>
      </div>
    </section>
  </main>
</body>
</html>