<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/src/main/resources/templates/static/images/logo-transparente.png" type="image/x-icon">
    <title>SAGA - Cadastrar Empresa</title>
    <link rel="stylesheet" href="/src/main/resources/templates/static/style/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/templates/static/style/style.css" />
</head>
<body>
<header>
    <section class="top-side">
        <div class="side-settings">
            <img class="settings" src="/src/main/resources/templates/static/images/settings.png" alt="logo-settings" />
        </div>
        <div class="side-logo">
            <img class="logo" src="/src/main/resources/templates/static/images/logo.jpeg" alt="logo-empresa" />
        </div>
    </section>
</header>
<main>
    <form th:action="@{/novaEmpresa}" th:object="${RequestEmpresa}" method="POST" class="novaEmpresa">
        <ul>
            <li>
                <label class="titulo-input">Nome Fantasia</label>
                <input type="text" th:field="*{fantasia}" placeholder="Ex: SAGA S/A" required />
            </li>
            <li>
                <label class="titulo-input">Razão Social</label>
                <input type="text" th:field="*{razao_social}" placeholder="Ex: Grupo SAGA" required />
            </li>
            <li>
                <label class="titulo-input">CNPJ</label>
                <input type="text" th:field="*{cnpj}" placeholder="Ex: 99.999.999/0001-99" required />
            </li>
            <li>
                <label class="titulo-input">E-mail</label>
                <input type="email" th:field="*{email}" placeholder="saga@grupo2biopark.com.br" required />
            </li>
            <li>
                <label class="titulo-input">Endereço</label>
                <input type="text" th:field="*{endereco}" placeholder="Ex: Rua Biopark" required />
            </li>
            <li>
                <label class="titulo-input">Telefone</label>
                <input type="text" th:field="*{telefone}" placeholder="Ex: (45) 9 99999-9999" required />
            </li>
            <li>
                <label class="titulo-input" for="porte">Porte</label>
                <select id="porte" th:field="*{porte}" required>
                    <option disabled selected hidden>Selecione o porte</option>
                    <option value="pequeno">Pequeno</option>
                    <option value="medio">Médio</option>
                    <option value="grande">Grande</option>
                </select>
            </li>
            <li>
                <label class="titulo-input" for="atividades">Atividade</label>
                <select id="atividades" th:field="*{atividades}" required>
                    <option disabled selected hidden>Selecione a área de atuação</option>
                    <option value="industrial">Industrial</option>
                    <option value="ambiental">Ambiental</option>
                    <option value="social">Social</option>
                </select>
            </li>
        </ul>
    <section class="bot-side">
        <div class="btn">
            <button type="submit" class="btn-cancelar">Cancelar</button>
            <button type="submit" class="btn-confirma">Confirmar</button>
        </div>
    </section>
    </form>
</main>
</body>
</html>
