<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/Geral/logo_transparente.png"/>
  <title>SAGA - Novo usuário</title>
  <link rel="stylesheet" type="text/css" media="all" href="/styles/GeralCSS/reset.css"  />
  <link rel="stylesheet" type="text/css" media="all" href="/styles/usuarioCSS/novoUsuario.css" />
  <script src="/scripts/usuariosJS/comparaSenha.js" defer></script>
  <script src="/scripts/usuariosJS/novoUsuario.js" defer></script>
  <script src="/scripts/usuariosJS/esconderSenha.js" defer></script>
</head>
  <body>
    <section th:if="${condition}" th:insert="/pop_up/popup_confirmacao.html"></section>
    <section th:insert="/pop_up/popup_cancelar.html" id="fragmento_popup_cancelar"></section>

    <header class="topSide">
      <img class="logo" src="/images/Geral/logo_transparente.png" alt="logo_empresa"/>
    </header>
    <main>
      <form id="formulario" th:action="@{/novoUsuario}" th:object="${usuario}" method="post" class="novo_usuario">
        <input type="hidden" name="estado" th:value="${true}" />
        <ul>
          <li>
            <label class="conteudoInput">Primeiro nome</label>
            <input
              type="text"
              th:field="*{nome}"
              placeholder="Primeiro nome "
              maxlength="45"
              required
            />
          </li>
          <li>
            <label class="conteudoInput">Sobrenome</label>
            <input
              type="text"
              th:field="*{sobrenome}"
              placeholder="Sobrenome"
              maxlength="45"
              required
            />
          </li>
          <li>
            <label class="conteudoInput">CPF</label>
            <input
              type="number"
              th:field="*{cpf}"
              placeholder="Ex: 000.000.000-00"
              minlength="14"
              maxlength="14"
              required
            />
          </li>
          <li>
            <label class="conteudoInput">E-mail</label>
            <input
              type="email"
              th:field="*{email}"
              placeholder="saga@grupo2biopark.com.br"
              maxlength="45"
              required
            />
          </li>
          <li>
            <label class="conteudoInput">Cidade</label>
            <input
              type="text"
              th:field="*{cidade}"
              placeholder="Ex: Toledo"
              maxlength="45"
              required
            />
          </li>
          <li>
            <label class="conteudoInput">Telefone</label>
            <input
              type="tel"
              th:field="*{telefone}"
              placeholder="Ex: (45) 9 99999-9999"
              maxlength="20"
              required
            />
          </li>
          <li>
            <label class="conteudoInput">Senha</label>
            <input
                    id = "senha"
                    type="text"
                    placeholder="Senha"
                    th:value="${senha}"
                    th:field="*{senha}"
                    required
                    maxlength="45"
            />
          <li>
            <label class="conteudoInput">Confirma senha</label>
            <input
                    id = "confirmSenha"
                    type="text"
                    placeholder="Confirma senha"
                    required
                    maxlength="45"
            />
            <a class="btn btn-outline-secondary" id="toggleSenha">Mostrar Senha</a>
            <p class="confereSenha">As senhas não conferem!</p>
        </ul>
        <section class="bot_side">
          <div class="botoes_footer">
            <button id="cancel_form" type="button" class="btn_cancelar">Cancelar</button>
            <button id="confirm_form"type="submit" class="btn_confirma">Confirmar</button>
          </div>
        </section>
      </form>
    </main>
  </body>
</html>
