<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/Geral/logo_transparente.png"/>
    <title>SAGA - Pagina Inicial</title>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/principalCSS/stylePaginaInicial.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/principalCSS/styleMenuLateral.css">
    <script src="/scripts/sideBar/menuLateral.js" defer></script>
</head>
<body>
<header class="topSide">
    <div class="block">
    </div>
    <div class="div-header">
        <img src="/images/Geral/logo_transparente.png" alt="logo-empresa" class="logo">
    </div>
    <div class="logo-hamburger" onclick="clickmenu()">
        <img src="/images/Geral/menu_hamburger.png" class="menu-botao" alt="logo_hamburger">
    </div>
</header>
<nav th:insert="/pop_up/menuLateral.html" id="fragmento_sidebar"></nav>
<main>
    <div>
        <a href="/listaEmpresas" class="botao">Usuários</a>
        <a href="/listaUsuarios" class="botao">Empresas</a>
        <a href="/listaFormsBase" class="botao">Formulários Base</a>
        <a href="/" class="botao">Avaliações</a>
    </div>
</main>
</body>
</html>