<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="/images/logo-transparente.png"/>
<title>SAGA - Recuperar senha</title>
<link rel="stylesheet" type="text/css" media="all" href="/styles/GeralCSS/reset.css"  />
<link rel="stylesheet" type="text/css" media="all" href="/styles/LoginCSS/login.css" />
</head>
<body>
<div class="topSide">
    <img class="logo" src="/images/Geral/logo_transparente.png" alt="logo_empresa"/>
</div>
<main>
    <div class="box_center_recuperaS">
        <div>
            <th>
                <a href="/login" class="buttonUlReturn"><img src="/images/Geral/left.png" alt="Retornar"></a></th>
            <div class="box_input">
                <form id="formulario" th:action="@{/recuperaSenha}" th:object="${usuario}" method="post" class="recupera_senha">
                    <ul>
                        <li>
                            <h3 class="loginText">Recuperar senha</h3>
                        </li>
                        <ul>
                            <input type="hidden" th:field="*{id_usuario}" />
                            <li>
                                <label class="conteudoInput">Nova Senha</label>
                                <input
                                        id="senha"
                                        type="password"
                                        th:field="*{senha}"
                                        placeholder="Senha"
                                        maxlength="45"
                                        required
                                />
                            </li>

                            <li>
                                <label class="conteudoInput">Confirmar Nova Senha</label>
                                <input
                                        id="senha"
                                        type="password"
                                        th:field="*{senha}"
                                        placeholder="Senha"
                                        maxlength="45"
                                        required
                                />
                            </li>
                        </ul>
                    </ul>
                        <section class="botSide">
                            <div class="btn_recuperaSenha">
                                <button id="confirm_form"type="submit" class="btn_confirma">Confirmar</button>
                            </div>
                        </section>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("formulario").addEventListener("submit", function(event) {
            var senha = document.getElementById("senha").value;
            var validaSenha = document.getElementById("validaSenha").value;
            var alertaSenha = document.getElementById("alertaSenha");

            if (senha !== validaSenha) {
                alertaSenha.innerText = "As senhas não coincidem!";
                alertaSenha.classList.remove("d-none");
                event.preventDefault(); // Impede o envio do formulário
            } else {
                alertaSenha.classList.add("d-none");
            }
        });
    </script>
</main>
</body>
</html>
