<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/style-tela_principal.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <script src="/src/main/resources/templates/script.js"></script>

</head>

<body>
    <header>
        <section class="topside">
            <div class="logo-empresa"><img src="/src/main/resources/templates/logo.png"></div>
            <div class="logo-menu" onclick="clickmenu()"><img src="/src/main/resources/templates/Menu hamburger.png"></div>
        </section>
    </header>
    <main>
        <section class="conteudo">
            
        </section>
        <section class="menu" id="itens">
            <nav class="sidebar">
                
                    <li><a href="#"><img src="/src/main/resources/templates/botao 1.png"></a>
                        <h3 class="subtitulo-header">novo <br> formulário</h3></li>
                    <li><a href="#"><img src="/src/main/resources/templates/botao 2.png"></a>
                        <h3 class="subtitulo-header">nova <br> empresa</h3></li>
                    <li><a href="#"><img src="/src/main/resources/templates/botao 3.png" alt=""></a>
                        <h3 class="subtitulo-header">novo <br> funcionario</h3>
                
            </nav>
        </section>
    </main>

</body> 


</html>