<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Formularios</title>
    <link rel="stylesheet" href="/src/main/resources/templates/style/visualizacao_de_formularios.css">
</head>

<body>

<header>
    <section class="topSide">
        <img src="/src/main/resources/templates/imagens/logo.jpeg">

        <h3>Formulários</h3>
    </section>
</header>

    <main>
        <section class="search">
            <input type="text" placeholder="Procurar...">
        </section>

        <container>
            <div>
                <div type="button" class="criar">
                    <p><strong>Criar +</strong></p>
                </div>
            </div>

            <form action="listarForms">
                <div class="listaForm">
                    <ul>
                        <li name = "lista" th:each="nome : ${nomes}" th:text="${nome}"></li>
                    </ul>
                </div>
            </form>

        </container>
    </main>
</body>
<script>

</script>

</html>