<!--<section class="menu" id="itens">-->
<!--    <nav class="sidebar">-->
<!--        <li>-->
<!--            <a href="/listaFormsBase"><img src="/images/Sidebar/botao_1.png" alt="logo_formulario"></a>-->
<!--            <a href="/listaFormsBase" style="text-decoration: none"><h3 class="subtitulo-header">lista <br> formulário</h3></a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/listaEmpresas"><img src="/images/Sidebar/botao_2.png" alt="logo_empresa"></a>-->
<!--            <a href="/listaEmpresas" style="text-decoration: none"><h3 class="subtitulo-header">lista <br> empresa</h3></a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/listaUsuarios"><img src="/images/Sidebar/botao_3.png" alt="logo_usuario"></a>-->
<!--            <a href="/listaUsuarios" style="text-decoration: none"><h3 class="subtitulo-header">lista <br> usuario</h3></a>-->
<!--        </li>-->
<!--    </nav>-->
<!--</section>-->
<link rel="stylesheet" href="/static/styles/principalCSS/styleMenuLateral.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<header>
    <nav id="sidebar">
        <div id="sidebarContent">
            <ul id="sideItens">
                <li class="sideItem active">
                    <a href="/listaFormsBase">
                        <i class="fa-solid fa-house"></i>
                        <span class="itensDescriptions">
                home
              </span>
                    </a>
                </li>
                <li class="sideItem">
                    <a href="/listaEmpresas">
                        <i class="fa-solid fa-wallet"></i>
                        <span class="itensDescriptions">
                assinatura
              </span>
                    </a>
                </li>
                <li class="sideItem">
                    <a href="/listaUsuarios">
                        <i class="fa-solid fa-star"></i>
                        <span class="itensDescriptions">
                favoritos
              </span>
                    </a>
            </ul>
            <button id="openBtn">
                <i id="openBtnIcon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
        <div id="logout">
            <button id="logoutBtn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="itensDescriptions">
            logout
          </span>
            </button>
        </div>
    </nav>
</header>