<section class="menu" id="itens">
    <nav class="sidebar">
        <li><a href="/listaFormsBase"><img src="/images/Sidebar/botao_1.png" alt="logo_formulario"></a>
            <h3 class="subtitulo-header">lista <br> formulário</h3></li>
        <li><a href="/listaEmpresas"><img src="/images/Sidebar/botao_2.png" alt="logo_empresa"></a>
            <h3 class="subtitulo-header">lista <br> empresa</h3></li>
        <li><a href="/listaUsuarios"><img src="/images/Sidebar/botao_3.png" alt="logo_usuario"></a>
            <h3 class="subtitulo-header">lista <br> usuario</h3>
    </nav>
</section>