<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<section th:fragmentSidebar>
    <nav id="sidebar" class="hideSidebar">
        <div id="sidebarContent">
            <ul id="sideItens">
                <li class="sideItem">
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        <span class="itensDescriptions">Home</span>
                    </a>
                </li>
                <li class="sideItem">
                    <a href="/listaFormsBase">
                        <i class="fa-solid fa-list"></i>
                        <span class="itensDescriptions">Lista de Formulários</span>
                    </a>
                </li>
                <li class="sideItem">
                    <a href="/listaEmpresas">
                        <i class="fa-solid fa-briefcase"></i>
                        <span class="itensDescriptions">Lista de Empresas</span>
                    </a>
                </li>
                <li class="sideItem">
                    <a href="/listaUsuarios">
                        <i class="fa-solid fa-users"></i>
                        <span class="itensDescriptions">Lista de Usuários</span>
                    </a>
                </li>
                <li class="sideItem">
                    <a href="/listaUsuarios">
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="itensDescriptions">Lista de Avaliações</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="logout">
            <div>
                <a href="/login" id="logoutBtn">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="itensDescriptions">Logout</span>
                </a>
            </div>
        </div>
    </nav>
</section>
