<link rel="stylesheet" type="text/css" media="all" href="/styles/popusCSS/style_popup_cancelar.css">
<link rel="stylesheet" type="text/css" media="all" href="/styles/GeralCSS/reset.css">

<div th:fragment = "popup_cancelar">
    
</div>
<div id="fade_cancelar" class="hide"></div>
<div id="popup" class="hide">
    <div class="popup_cancelar">
        <h2>Deseja realmente cancelar?</h2>
        <div class="btn">
            <button id="cancelar_fragmento">Não</button>
            <button id="confirmar_fragmento">Sim</button>
        </div>
    </div>
</div>