<link rel="stylesheet" type="text/css" media="all" href="/styles/style_popup_cancelar.css">
<link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css">
<script src="/scripts/nova_empresa.js" defer></script>
</div>
<div id="fade"></div>
<div id="modal">
    <div class="modal_header">
        <h2>Deseja realmente cancelar?</h2>
        <div class="btn">
            <button id="cancelar_fragmento">Não</button>
            <button id="confirmar_fragmento">Sim</button>
        </div>
    </div>
</div>