<link rel="stylesheet" type="text/css" media="all" href="/styles/popusCSS/style_popup_edicao.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/styles/GeralCSS/reset.css"/>

<div th:fragment="popup_edicao"></div>

<div id="fade_editar" class="hide_edicao"></div>
<div id="popup_edicao" class="hide_edicao">
    <div class="popup_editar">
        <h2>Edição realizada com sucesso!</h2>
        <div class="btn">
            <button id="confirmar_edicao">Confirmar</button>
        </div>
    </div>
</div>