<link rel="stylesheet" href="/src/main/resources/static/styles/">
<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCente" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p><b>Tem certeza que deseja excluir o formulário [EMPRESA]</b></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Não</button>
                <button class="btn btn-primary" type="button">Sim</button>
            </div>
        </div>
    </div>
</div>