
    <section class="menu" id="itens">
        <nav class="sidebar">
                <li><a href="#"><img src="/images/botao_1.png" alt=""></a>
                    <h3 class="subtitulo-header">novo <br> formulário</h3></li>
                <li><a href="#"><img src="/images/botao_2.png" alt=""></a>
                    <h3 class="subtitulo-header">nova <br> empresa</h3></li>
                <li><a href="#"><img src="/images/botao_3.png" alt=""></a>
                    <h3 class="subtitulo-header">novo <br> funcionario</h3>

        </nav>
    </section>