<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style_sidebar.css">
    <script src="/scripts/sidebar.js" defer></script>
</head>

<body>
    <header>
        <section class="topside">
            <div class="logo-empresa"><img src="/images/logo.png" alt=""></div>
            <div class="logo-menu" onclick="clickmenu()"><img src="/images/menu_hamburger.png" alt=""></div>
        </section>
    </header>
    <main>
        <section class="conteudo">
    
        </section>
        <section class="menu" id="itens">
            <nav class="sidebar">
                
                    <li><a href="#"><img src="/images/botao_1.png" alt=""></a>
                        <h3 class="subtitulo-header">novo <br> formulário</h3></li>
                    <li><a href="#"><img src="/images/botao_2.png" alt=""></a>
                        <h3 class="subtitulo-header">nova <br> empresa</h3></li>
                    <li><a href="#"><img src="/images/botao_3.png" alt=""></a>
                        <h3 class="subtitulo-header">novo <br> funcionario</h3>
                
            </nav>
        </section>
    </main>

</body> 


</html>