body{
  min-width: 100%;
  min-height: 100vh;
}
ul{
  text-decoration: none;
  list-style: none;
}
.top-side{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
}

.side-logo{
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-logo .logo{
  height: 70px;
  width: 80px;
}

.mid-side{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main{
  display: flex;
  height: 100%;
  
}
label.titulo-input{
  font-size: 14px;
  margin-left: 10px;
  color: #0077C8;
}

select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/select-seta.png");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  border-color: #0077C8;
  height: 30px;
  width: 280px;
}

form.novaEmpresa{
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.novaEmpresa input{
  border:1px #0077C8 solid;
  border-radius: 10px;
  width: 100%;
  max-width: 280px;
  height: 30px;
}
form.novaEmpresa ::placeholder{
  font-size: 12px;
  font-style: italic;
  padding-left: 10px;
}

li{
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  gap: 5px;
}
.bot-side{
  display: flex;
  padding: .5rem;
  height: 90%;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 8px;
}

button{
  cursor: pointer;
  height: 25px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}

button.btn-cancelar{
  margin-right: 10px;
  background-color:#FFDBDB;
  color: #B0522A;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

button.btn-confirma{
  margin-left: 10px;
  background-color: #DBFFDC;
  color: #35B02A;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}