@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
div.btn{
    padding: 0;
}
button.ativo{
    width: 120px;
    padding: 1rem 3.125rem;
    background-color: #DBFFDC;
    cursor: pointer;
    border: none;
    color: #35B02A;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: .75rem;
    line-height: .20rem;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: .3s;
}

button.inativo{
    width: 120px;
    padding: 1rem 3.125rem;
    background-color:#FFDBDB;
    cursor: pointer;
    border: none;
    color: #B0522A;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: .75rem;
    line-height: .20rem;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: .3s;
}