div.btn{
    padding: 0;
}

.ativo{
    width: 120px;
    background-color: #DBFFDC;
    cursor: pointer;
    border: none;
    color: #35B02A;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: .75rem;
    text-align: center;
    line-height: .20rem;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    opacity: 0.8;
    transition: .3s;
}

.inativo{
    width: 120px;
    background-color:#FFDBDB;
    cursor: pointer;
    border: none;
    color: #B0522A;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: .75rem;
    line-height: .20rem;
    font-weight: bold;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    opacity: 0.8;
    transition: .3s;
}